<div class="container amount-container">
  <h1>💰</h1>
  <p class="amount">Acompte disponible</p>
  <h2>350 €</h2>
  <p>à partir du 15 novembre 2021</p>
  <a class="btn btn-primary btn-confirm">Faire une demande</a>
</div>
