<div class="container action-container">
  <div>
    <h1>💰</h1>
    <p class="amount">Acompte disponible</p>
    <h2>350 €</h2>
    <p>à partir du 15 novembre 2021</p>
    <%= link_to "Faire une demande", new_employee_transaction_path, class: "btn btn-primary btn-confirm"  %>
  </div>
</div>
