
<div class="container discussion-container">
  <h3>🤝 Mes conversations</h3>
  <div class="discussion-wrapper">
    <% @discussions.each do |discussion| %>
      <% if policy(discussion).index? %>   
        <div class="discussion">
          <div class="discussion-card">
            <div class="contact-name">
              <%= discussion.hr.first_name %>
              <%= discussion.hr.last_name %>
            </div>
            <div class="topic-name">
            </div>
              <%= link_to discussion.topic, discussion_path(discussion) %>
            <div>
              <% #Icon for to the conversation %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
