
<div class="container discussion-container">
  <h3 class="text-white"> 💬 Mes conversations</h3>

  <div class="discussion-wrapper">
    <% @discussions.each do |discussion| %>
      <%= link_to discussion_path(discussion) do %>
        <% if policy(discussion).index? %>   
          <div class="discussion">
            <div class="discussion-user">
              <img class="avatar-bordered" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png"/>
              <%= discussion.hr.last_name %>
              <%= discussion.hr.first_name %>
            </div>
            <div class="discussion-topic">
              <%= discussion.topic %>
              >
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
