.card-article {
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
}

.article-image {
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
  border-radius: 4px;
}

.article-info {
  display: flex;
  justify-content: flex-end;
  color: gray
}