.action-container {
  text-align: center;
  // padding: 120px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(85vh - 76px);
  margin-top: 5vh;
  position: relative;
  box-shadow: 4px 4px 14px rgba(0,0,0,0.1);
  border-radius: 13px;
  background-color: white;
}

.action-container > div {
  display: flex;
  flex-direction: column;
  padding: calc(14vh - 76px) 2vh;
  width: 90vw;
  height: calc(85vh - 76px);
}

.action-container > div > form {
  display: flex;
  flex-grow: 1;
}

.action-container h2 {
  color: #2BC798;
  font-size: 48px;
  margin-bottom: 15px;
}

.action-container h1 {
  font-size: 75px;
}

.amount {
  font-size: 31px;
  margin-bottom: 0px;
}

#back {
  position: absolute;
  color: #2BC798;
  top: 15px;
  opacity: 0.8;
  // font-size: 13px;
}
