.action-container {
  text-align: center;
  // padding: 120px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 76px);
}

.action-container > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: calc(22vh - 76px) 2vh;
  width: 90vw;
  height: calc(85vh - 76px);
  border-radius: 13px;
}

.action-container h2 {
  color: #2BC798 !important;
  font-size: 48px;
  margin-bottom: 25px;
}

.action-container h1 {
  font-size: 48px;
}

.amount {
  font-size: 31px;
}
