// Specific CSS for your home-page
.green-triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 80vh solid $green-peps;
  position: fixed;
  z-index: -1;
}
body {
  background-color: white;
}

.green-square {
  width: 100vw;
  height: 0px;
  border-left: 0px solid transparent;
  border-bottom: 50vh solid #2BC798;
  position: fixed;
  z-index: -1;
}
