// Specific CSS for your home-page
.green-triangle {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 80vh solid $green-peps;
  position: fixed;
  top: 0;
  z-index: -1;
}
body {
  background-color: white;
}

.green-square {
  width: 100vw;
  height: 0px;
  border-left: 0px solid transparent;
  border-bottom: 50vh solid #2BC798;
  position: fixed;
  z-index: -1;
}

.text-white {
  padding: 7px;
}

#title {
 font-size: 70px;
 color: #2BC798
}

#tagline {
  font-size: 20px;
  font-weight: 400;
  font-style: inherit;
  color: white;
  margin-top: 7rem;
}

#tagline2 {
  font-size: 20px;
  font-weight: 400;
  font-style: inherit;
  color: white;
  margin-top: 0.5rem;
}

.text {
  text-align: center;
  justify-content: center;
  width: 100%;
}

.big-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/uploads/1413395496082cbc91228/43e39040?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
  position: relative;
  justify-content: space-between;
  height: 100vh;
  padding-top: 17vh;
  padding-bottom: 10vh;
  
}

.connect {
  color: white;
  font-size: large;
  
}