.dash-container {
  height: calc(85vh - 76px);
  margin-top: 5vh;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .1);
  border-radius: 13px;
  background-color: white;
  padding: 15px;
}

.dday {
  font-weight: 500;
  text-decoration: underline;
  padding-left: 20px;
}

.card-data {
  height: 70px;
  width: 150px;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  padding: 10px;
  border-color: lightgray;
  border: solid;
  box-shadow: lightgray;
  margin-bottom: 10px;
}

.graph-acomptes {
  height: 200px;
  width: 300px;
  font-size: 14px;
  border-color: lightgray;
  border: solid;
}