#dashboard-hr .container {
  max-width: 100%;
  padding: 20px 0 100px;
}

.dash-container {
  height: calc(85vh);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .1);
  border-radius: 13px;
  background-color: white;
  padding: 20px;
  margin-right: 40px;
  flex-grow: 1;
}

.dday {
  font-weight: 500;
  margin-bottom: 15px;
  text-decoration: underline;
}

.card-data {
  height: 60px;
  width: 20%;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  padding: 5px;
  border: 1px solid lightgray;
  box-shadow: $box-shadow;
  margin-bottom: 10px;
}

#data_of_the_month {
  padding-top: 5px;
}

.graph-acomptes {
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  width: 47%;
  font-size: 14px;
  border: 1px solid lightgray;
  box-shadow: $box-shadow;
}

.last-acomptes {
  padding-top: 25px;
  font-weight: 500;
  text-decoration: underline;
}

.last-acomptes-list {
  text-align: left;
    .div {
      width: 15%;
    }
}

