.transaction-confirmation__title {
  height: 50vh;
  color: white;
  padding: 10px;
}

.transaction-confirmation__title h5 {
  padding-top: 2vh;
}

.transaction-confirmation__title h2 {
  padding-top: 5vh;
}

.transaction-confirmation__info h5 {
  margin-bottom: 4vh;
  text-align: center;
}

.transaction-confirmation__info p {
  margin-bottom: 1vh;
  opacity: 0.8;
}
