<div class="d-flex justify-content-center" style="margin-bottom: 10px">
  <h1>
    <%= cl_image_tag("https://res.cloudinary.com/dyywcjnii/image/upload/v1614261084/search_rrgkqz.svg", width: 25, height:25) %>
    <u>Historique</u>
  </h1>
</div>

<% @transactions.each do |transaction| %>
  <div class="card-product w-100">
  <%# 
    <div class="card-product-infos flex-grow">
    </div>
    <div class="product-infos flex-grow">
    </div> %>

    <div class="d-flex flex-row justify-content-between align-items-center w-100">
      <h2 class="green-title"><span class="icon">📅</span><%= transaction.due_date %></h2>
      <div class="amount">
          <span class="icon"> 💰 </span><%= transaction.amount %> <i class="fas fa-euro-sign"></i>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center w-100">
      <p>Cours de CSS pour Pierre!</p>
      <div>
        <% if transaction.status != "paid" %>
          <p><strong>Pending</strong></p>
        <% else %>
          <p><strong>Paid</strong></p>
        <% end %>
      </div>
    </div>
  
  </div>
<% end %>



