<div class="container action-container">
  <div data-controller="form">
    <%= simple_form_for(@transaction, url: employee_transactions_path) do |f| %>
      <div data-form-target="amount">
        <%= f.input :amount, as: :range %>
      </div>
      <div data-form-target="due-date">
      <h4>Quand souhaitez-vous toucher votre acompte ?</h4>
        <%= f.input :due_date, as: :string, required: false, input_html: {class: "datepicker", style: "display: none;"} %>
      </div>
      <div data-form-target="submit">
        <%= f.submit class: "btn btn-primary btn-confirm" %>
      </div>
  <% end %>
  </div>
</div>

