<div class="container action-container">
  <div>
    <%= simple_form_for(@transaction, url: employee_transactions_path) do |f| %>
      <div id="amount">
        <%= f.input :amount %>
      </div>
      <div id="due-date">
        <%= f.input :due_date %>
      </div>
      <div id="submit-transastions">
        <%= f.submit class: "btn btn-primary btn-confirm" %>
      </div>
  <% end %>
  </div>
</div>
