<div class="d-flex">
    <%= render "shared/sidebar" %>
  <div class="d-flex flex-column flex-grow-1">
    <div class="d-flex flex-column justify-content-start mt-2">
      <% @notifications.order(created_at: :desc).each do |notification| %>
        <%= render partial: 'shared/notification', locals: {notification: notification, notif_index: true} %>
      <% end %>
    </div>
  </div>
</div>
