<div class="header-mobile">
  <% if controller_name != "sessions"%>
    <div id="avatar">
      <!-- <%= render 'shared/avatar' %>  -->
    </div>
    <div id="login">
      <%= render 'shared/login' %>
    </div>
  <% end %>
</div>
