<%# VUE MOBILE %>

<div id="content-mobile">
  <div class="navbar-mobile">
    <div class=navbar-container>
      <a href="#articles" class="active"><i class="fas fa-book-open"></i></a>
      <a href="#transactions"><i class="fas fa-list"></i></a>
      <a href="#"></a>
      <a href="#request" id="center"><i class="fas fa-plus-square"></i></a>
      <a href="#discussions"><i class="fas fa-comment-alt"></i></a>
      <a href="#profile"><i class="fas fa-user"></i></a>
    </div>
  </div> 
  <div class="request-btn">
  </div>
</div>

