<div class="notification">
  <% if notification.sender.avatar.attached?  %>
    <img class="avatar-large"src="<%= cl_image_path notification.sender.avatar.key, height: 300, width: 300, crop: :fill %>" />
  <% else %>
    <img class="avatar-large" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png" />
  <% end %>
  <div class="notification-content">
    <p><small><%= localize(notification.created_at, format: "%d %B %Y") %></small></p>
    <p><%= notification.content %></p>
  </div>

  <div class="notification-actions">
    <a href="#">OK ! <i class="far fa-trash-alt"></i></a>
  </div>
</div>
