<div class="notification <%= 'notif-index' if notif_index %>">
  <% if notification.sender.avatar.attached?  %>
    <img class="avatar-notif"src="<%= cl_image_path notification.sender.avatar.key, height: 300, width: 300, crop: :fill %>" />
  <% else %>
    <img class="avatar-notif" src="https://creai-grand-est.fr/bundles/admin/images/user-empty-avatar.png" />
  <% end %>
  <div class="notification-content">
    <p><small><%= notification.category.capitalize %></small></p>
    <p><%= notification.content %></p>
  </div>
  <% unless @hide_action %>
    <div class="notification-actions">
    <a href="#">OK ! <i class="far fa-trash-alt"></i></a>
  </div>
  <% end %>

</div>
