<div class="sidebar">
  <ul>
    <li><a class="active" href="#dashboard"><i class="fas fa-chart-line" style="pr-10"></i> Vue d'ensemble</a></li>
    <li><a href="#messages"><i class="far fa-envelope"></i> Messages</a></li>
    <li><a href="#employés"><i class="fas fa-users"></i> Employés</a></li>
    <li><a href="#paramètres"><i class="fas fa-cog"></i> Paramètres</a></li>
  </ul>
</div>
