
  <div class="big-box">
      <div class="text">
        <h1 id="title">Popay</h1>
        <p id="tagline">La paie sur simple demande</p>
      </div>
        <%= link_to "connexion", new_user_session_path, class: "connect" %>
  </div>