
  <div class="big-box">
      <div class="text">
        <h1 id="title">Popay</h1>
        <p id="tagline">L'Acompte sur demande</p>
        <p id="tagline2">Une fois par mois</p>
        <p id="tagline2">En instantané</p>
      </div>
        <%= link_to "CONNEXION", new_user_session_path, class: "connect" %>
  </div>