.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 7px;
  padding: 10px;
  flex-direction: column; 
  align-content: space-between;
}

.card-product .transaction {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #2BC798;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 5px;
}

.green-title {
  color: #2BC798;
}

.card-product .amount {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.icon {
  margin-right: 5px;
}

#btn_historique {
  padding: 3px;
  border-radius: 5px;
}