.sidebar {
  width: 20%;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color:transparent;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: black;
  padding: 20px 20px 30px 20px;
  text-decoration: none;
}

li a.active {
  color: white;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color:white;
  color: $green;
  text-decoration: none;
}