#head_pdf {
  display: flex;
  justify-content: space-between;
}

#pdf_title {
  // display: flex !important;
  // justify-content: center !important;
  text-decoration: underline;
}

#separateur {
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}